<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.ksptooi.flr.mapper.player.PlayerMapper">


	<resultMap id="playerRM" type="com.ksptooi.flr.entity.player.FLRPlayer" autoMapping="true">

		<association property="playerLocation" autoMapping="true" javaType="com.ksptooi.flr.entity.player.PlayerLocation">
			<id property="id" column="LID"/>
			<result property="pid" column="LPID"/>
		</association>

		<association property="playerDetail" autoMapping="true" javaType="com.ksptooi.flr.entity.player.PlayerDetail">
			<id property="id" column="DID"/>
			<result property="pid" column="DPID"/>
		</association>

	</resultMap>

	<select id="getPlayerById" resultMap="playerRM">
		SELECT p.*
			 ,LOC.ID AS LID
			 ,LOC.PID AS LPID
			 ,LOC.*
			 ,DET.ID AS DID
			 ,DET.PID AS DPID
			 ,DET.*
		FROM PLAYER p
				 LEFT JOIN PLAYERLOCATION loc ON p.PID = loc.PID
				 LEFT JOIN PLAYERDETAIL det ON p.pid = det.PID
		WHERE P.PID = #{id}
	</select>

    <select id="getPlayerByName" resultMap="playerRM">
		SELECT p.*
			 ,LOC.ID AS LID
			 ,LOC.PID AS LPID
			 ,LOC.*
			 ,DET.ID AS DID
			 ,DET.PID AS DPID
			 ,DET.*
		FROM PLAYER p
				 LEFT JOIN PLAYERLOCATION loc ON p.PID = loc.PID
				 LEFT JOIN PLAYERDETAIL det ON p.pid = det.PID
		WHERE P.ACCOUNT = #{account}
	</select>

	<!--使用主键回填-->
	<insert id="insertPlayer" useGeneratedKeys="true" keyProperty="pid" keyColumn="pid">
		INSERT INTO PLAYER(
		     ACCOUNT
		    ,PLAYERNAME
		    ,PASSWORD
		    ,REGISTERDATE
		    ,REGISTERIP
		    ,AUTHSTATUS
		    ,LOGINCOUNT
		    ,LASTLOGINDATE
		    ,LEAVEDATE)
		    VALUES(
		    #{account}
		    ,#{playerName}
		    ,#{password}
		    ,#{registerDate}
		    ,#{registerIp}
		    ,#{authStatus}
		    ,#{loginCount}
		    ,#{lastLoginDate}
		    ,#{leaveDate})
	</insert>

	<delete id="removePlayer">
		DELETE FROM PLAYER WHERE PID = #{id}
	</delete>


	<update id="updatePlayer">
		UPDATE PLAYER SET
			 ACCOUNT = #{account}
		    ,PLAYERNAME = #{playerName}
			,PASSWORD = #{password}
			,REGISTERDATE = #{registerDate}
			,REGISTERIP = #{registerIp}
			,AUTHSTATUS = #{authStatus}
			,LOGINCOUNT = #{loginCount}
			,LASTLOGINDATE = #{lastLoginDate}
			,LEAVEDATE = #{leaveDate}
		WHERE PID = #{pid}
	</update>

</mapper>
